<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">

	<test name="Test1">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="com.test.LandingTest" />
			<class name="com.test.EmptyCartMessageTest" />
			<class name="com.test.UpdateProfileTest" />
		</classes>
	</test>




</suite> <!-- Suite -->
